@tailwind base;
@tailwind components;
@tailwind utilities;

.CSVImporter-dialog {
	position: relative !important;
}

animation: var(--animate-spin); /* spin 1s linear infinite */

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}